@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
  width: 0;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
.site {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.site__main {
  /*background-color: pink;*/
  flex-grow: 7;
  flex-direction: row;
  padding-left: 20%;
}
.site__right-sidebar{
  flex-grow: 3;
  flex-direction: column;
  /*margin-top: 5%;*/
}
.cart__content{
  margin-top: 20%;
}
.cart__title{
  position: fixed;
  margin-top: 5px;
  /* padding-top: 10px;*/
}
.site__left-sidebar {
  flex-basis: auto;
  /*flex-basis: 0;*/
  flex-grow: 0;
  /*flex-shrink:1;*/
  /*background-color: lightseagreen;*/
  position: fixed; /*移出布局流*/
  /*position: absolute;*/ /*不移出布局流*/
  margin-left: -20%;
  width: 20%;
  padding: 2%;
}
.site__content {
  flex-basis: 0;
  flex-grow: 1;

  background-color: pink;
}
.cart {
   flex-basis: 0;
  flex-grow: 1;
    /*background-color: pink;*/
}
.checkout {
    background-color: lightseagreen;
    flex-basis: auto;
  flex-grow: 0;
}
.products {
   flex-direction: row;
  flex-wrap: wrap;

}
.product {
  margin-bottom: 2px;
  width: 50%;
  height: 250px;
  background-color: lightgreen;
}

.cart__content {
  overflow-y: scroll;
  height: 100%;
}
.cart-item {
  height: 150px;
  margin-bottom: 20px;
  background: rgba(0,255,0,0.3);
}

.checkout {
  height: 300px;
  background: rgba(0,0,255,0.3);
  margin-top: 20px;

}